[submodule "lib/Arduino-Makefile"]
	path = lib/Arduino-Makefile
	url = git@github.com:sudar/Arduino-Makefile.git
[submodule "lib/Adafruit_GFX"]
	path = lib/Adafruit_GFX
	url = git@github.com:adafruit/Adafruit-GFX-Library.git
[submodule "lib/Adafruit_BMP280"]
	path = lib/Adafruit_BMP280
	url = git@github.com:schizobovine/Adafruit_BMP280.git
[submodule "lib/Adafruit_TSL2591"]
	path = lib/Adafruit_TSL2591
	url = git@github.com:schizobovine/Adafruit_TSL2591.git
[submodule "lib/Adafruit_MLX90614"]
	path = lib/Adafruit_MLX90614
	url = git@github.com:schizobovine/Adafruit_MLX90614.git
[submodule "lib/Adafruit_TCS34725"]
	path = lib/Adafruit_TCS34725
	url = git@github.com:schizobovine/Adafruit_TCS34725.git
[submodule "lib/Adafruit_BluefruitLE_nRF51"]
	path = lib/Adafruit_BluefruitLE_nRF51
	url = git@github.com:schizobovine/Adafruit_BluefruitLE_nRF51.git
[submodule "lib/Adafruit_SSD1351"]
	path = lib/Adafruit_SSD1351
	url = git@github.com:adafruit/Adafruit-SSD1351-library.git
[submodule "lib/Adafruit_VEML6070"]
	path = lib/Adafruit_VEML6070
	url = git@github.com:schizobovine/Adafruit_VEML6070.git
[submodule "lib/Adafruit_BNO055"]
	path = lib/Adafruit_BNO055
	url = git@github.com:adafruit/Adafruit_BNO055.git
